& {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: px(86) px(108) px(54);

        h1 {
            color: $commonColor1;
            font-size: px(48);
            font-weight: 100;
        }

        .refresh {
            display: flex;
            align-items: center;
            color: $tempColor3;
            font-size: px(28);
            font-style: italic;
            cursor: pointer;

            i {
                width: px(30);
                margin-left: px(12);
            }
        }
    }

    .slider {
        display: flex;

        .arrowLeft {
            display: flex;
            align-items: center;
            justify-content: center;
            width: px(108);
            height: px(520);
            cursor: pointer;

            .arrow {
                width: px(26);
                margin-right: px(38);
                transform: rotate(180deg);
            }
        }

        .arrowRight {
            display: flex;
            align-items: center;
            justify-content: center;
            width: px(108);
            height: px(520);
            cursor: pointer;

            .arrow {
                width: px(26);
                margin-left: px(30);
            }
        }

        .wrap {
            display: flex;
            position: relative;

            .list {
                display: flex;
                width: px(1832);
                transition: all .3s cubic-bezier(.15, .46, .61, 1);
                background-size: px(40);

                .large {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    flex-shrink: 0;
                    justify-content: flex-end;
                    width: px(896);
                    height: px(520);
                    margin-right: px(40);
                    padding-bottom: px(24);
                    padding-left: px(38);
                    border-radius: 3px;
                    background-size: cover;
                    cursor: pointer;
                    overflow: hidden;

                    &::before {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: opacity .3s;
                        background: $commonColor9;
                        content: '';
                        opacity: 0;
                    }

                    &:hover {
                        .goTo {
                            opacity: 1;
                        }

                        &::before {
                            opacity: 1;
                        }
                    }

                    .goTo {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: px(136);
                        margin-top: px(-68);
                        margin-left: px(-68);
                        transition: opacity .3s;
                        cursor: pointer;
                        opacity: 0;
                    }

                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: px(150);
                        background: $gradient1;
                        content: '';
                        z-index: 0;
                    }

                    h3 {
                        position: relative; // Fix: Safari 10.0, не работает z-index
                        max-width: 70%;
                        color: $mainColor1;
                        font-size: px(44);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        z-index: 1;
                    }

                    h4 {
                        margin-top: px(2);
                        color: $commonColor3;
                        font-size: px(30);
                        font-weight: 100;
                        z-index: 1;
                    }
                }

                .row {
                    height: px(520);
                    column-gap: px(40);
                    column-width: px(428);

                    .small {
                        display: flex;
                        position: relative;
                        align-items: flex-end;
                        width: px(428);
                        height: px(240);
                        margin-bottom: px(40);
                        transform: translateX(0); // Fix: Safari 10.0, исчезание h3 при hover
                        border-radius: 3px;
                        background-size: cover;
                        cursor: pointer;
                        overflow: hidden;

                        &:nth-child(2n) {
                            margin-bottom: 0;
                        }

                        &::before {
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            transition: opacity .3s;
                            background: $commonColor9;
                            content: '';
                            opacity: 0;
                            z-index: -1; // Fix: Safari 10.0, не работает z-index на h3
                            will-change: opacity;
                        }

                        &:hover {
                            .goTo {
                                opacity: 1;
                            }

                            &::before {
                                opacity: 1;
                            }
                        }

                        .goTo {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: px(100);
                            margin-top: px(-50);
                            margin-left: px(-50);
                            transition: all .3s;
                            cursor: pointer;
                            opacity: 0;
                            z-index: 10;
                            will-change: opacity;
                        }

                        &::after {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: px(100);
                            background: $gradient1;
                            content: '';
                            z-index: 0;
                        }

                        &:nth-last-child(1) {
                            margin-bottom: 0;
                        }

                        h3 {
                            position: relative; // Fix: Safari 10.0, не работает z-index
                            margin: 0 px(10) px(20) px(20);
                            color: $mainColor1;
                            font-size: px(28);
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            z-index: 1;
                        }
                    }
                }
            }
        }

        .item {
            flex-shrink: 0;
            width: px(428);
            margin-right: px(40);
            border-radius: 3px;
            overflow: hidden;

            .image {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: px(248);
                background-size: cover;
                cursor: pointer;

                &::before {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: opacity .5s;
                    background-color: $commonColor9;
                    content: '';
                    opacity: 0;
                    z-index: 1;
                    will-change: opacity;
                }

                &:hover {
                    .goTo {
                        opacity: 1;
                    }

                    &::before {
                        opacity: 1;
                    }
                }

                .goTo {
                    width: px(100);
                    transition: opacity .3s;
                    opacity: 0;
                    z-index: 5;
                }
            }

            .info {
                width: 100%;
                height: px(272);
                padding: px(28) px(40) 0;
                background-color: $mainColor1;

                .date {
                    display: flex;
                    align-items: flex-end;

                    .bubble {
                        width: px(42);
                        margin-right: px(12);
                        margin-bottom: px(2);
                    }

                    span {
                        color: $tempColor2;
                        font-size: px(24);
                    }
                }

                h1 {
                    display: -webkit-box;
                    max-height: px(68);
                    margin-top: px(32);
                    font-size: px(32);
                    line-height: px(34);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;

                    a {
                        color: $commonColor1;
                    }
                }

                .show {
                    display: flex;
                    align-items: center;
                    margin-top: px(18);
                    margin-left: px(4);

                    h2 {
                        display: -webkit-box;
                        max-height: px(68);
                        font-size: px(28);
                        line-height: px(34);
                        text-overflow: ellipsis;
                        overflow: hidden;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;

                        a {
                            color: $mainColor4;
                        }
                    }

                    .arrow {
                        width: px(8);
                        margin-left: px(6);
                        color: $commonColor1;
                    }
                }
            }
        }
    }
}
