@import './desktopCommon';

& {
    height: px(884);
    padding-top: px(110);

    .container {
        height: px(604);

        &::before {
            height: px(604);
        }

        .text {
            width: px(1000);
            font-size: px(42);
            line-height: px(52);
        }

        .poster {
            height: px(688);
        }
    }
}
