& {
    width: 100%;
    color: $commonColor1;

    .mainContent {
        padding: px(70) px(44) px(44) px(40);

        .columns {
            display: flex;
            flex-flow: row;
            justify-content: flex-start;

            .col1 {
                margin-left: px(18);

                .menu {
                    .title {
                        margin-bottom: px(28);
                        font-size: px(30);
                    }

                    .list {
                        li {
                            margin-top: px(16);

                            .link {
                                transition: color .2s;
                                color: $commonColor1;
                                font-size: px(24);

                                &:active {
                                    color: $mainColor4;
                                }
                            }

                            &:first-of-type {
                                margin: 0;
                            }
                        }
                    }
                }
            }

            .col2 {
                margin-left: px(76);

                .connection {
                    .title {
                        margin-bottom: px(28);
                        font-size: px(30);
                    }

                    .list {
                        li {
                            margin-top: px(16);

                            .link {
                                transition: color .2s;
                                color: $commonColor1;
                                font-size: px(24);

                                &:active {
                                    color: $mainColor4;
                                }
                            }

                            &:first-of-type {
                                margin: 0;
                            }
                        }
                    }
                }

                .phoneNumber {
                    margin-top: px(74);

                    .title {
                        margin-bottom: px(14);
                        font-size: px(30);
                    }

                    .item {
                        font-size: px(24);
                    }
                }
            }
        }

        .footer {
            margin-top: px(54);

            .networks {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                a {
                    i {
                        width: px(60);
                    }
                }

                .twitterIcon {
                    order: 1;
                }

                .facebookIcon {
                    order: 3;
                }

                .okIcon {
                    order: 4;
                }

                .youtubeIcon {
                    order: 5;
                }

                .vkIcon {
                    order: 2;
                }

                .instagramIcon {
                    order: 6;
                }
            }
        }
    }
    // END mainContainer

    .additionalContent {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: px(56) px(58);
        background: $mainColor1;

        .col3 {
            min-width: px(210);

            .information {
                .title {
                    margin-bottom: px(30);
                    font-size: px(30);
                }

                .list {
                    li {
                        margin-top: px(14);

                        .link {
                            transition: color .2s;
                            color: $commonColor1;
                            font-size: px(24);

                            &:active {
                                color: $mainColor4;
                            }
                        }

                        &:first-of-type {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .col4 {
            margin-left: px(50);

            .rights {
                .title {
                    margin-bottom: px(30);
                    font-size: px(30);
                }

                .link {
                    display: block;
                    transition: color .2s;
                    color: $commonColor1;
                    font-size: px(24);
                    line-height: px(32);

                    &:active {
                        color: $mainColor4;
                    }

                    &::after {
                        position: relative;
                        left: px(10);
                        font-family: Arial, sans-serif;
                        content: '→';
                    }
                }
            }

            .container {
                margin: px(30) 0 0 px(1);

                .copyright {
                    font-size: px(20);
                    line-height: px(24);

                    &::before {
                        margin-right: px(4);
                        font-weight: bold;
                        content: '©';
                    }
                }

                .designer {
                    margin-top: px(8);
                    color: $tempColor11;
                    font-size: px(18);
                }
            }
        }
    }
}
