@import './common';

& {
    .mainContent {
        padding-bottom: px(18);

        .columns {
            .col1 {
                min-width: px(200);
            }

            .col2 {
                min-width: px(200);
                margin-left: px(50);

                .information {
                    .title {
                        margin-bottom: px(30);
                        font-size: px(30);
                    }

                    .list {
                        li {
                            margin-top: px(14);

                            .link {
                                transition: color .2s;
                                color: $commonColor1;
                                font-size: px(24);

                                &:active {
                                    color: $mainColor4;
                                }
                            }

                            &:first-of-type {
                                margin: 0;
                            }
                        }
                    }
                }
            }

            .col3 {
                min-width: px(300);
                margin-left: px(76);

                .connection {
                    .title {
                        margin-bottom: px(28);
                        font-size: px(30);
                    }

                    .list {
                        li {
                            margin-top: px(16);

                            .link {
                                transition: color .2s;
                                color: $commonColor1;
                                font-size: px(24);

                                &:active {
                                    color: $mainColor4;
                                }
                            }

                            &:first-of-type {
                                margin: 0;
                            }
                        }
                    }
                }

                .phoneNumber {
                    margin-top: px(74);

                    .title {
                        margin-bottom: px(14);
                        font-size: px(30);
                    }

                    .item {
                        font-size: px(24);
                    }
                }
            }

            .col4 {
                margin: px(4) 0 0 px(26);

                .rights {
                    .title {
                        margin-bottom: px(34);
                        font-size: px(30);
                    }

                    .link {
                        display: block;
                        transition: color .2s;
                        color: $commonColor1;
                        font-size: px(24);
                        line-height: px(26);

                        &:active {
                            color: $mainColor4;
                        }

                        &::after {
                            position: relative;
                            left: px(6);
                            font-family: Arial, sans-serif;
                            content: '→';
                        }
                    }
                }
            }
        }
    }
    // END mainContent

    .additionalContent {
        align-items: center;
        padding: px(38) px(60);

        .container {
            width: px(260);

            .copyright {
                font-size: px(20);
                line-height: px(24);

                &::before {
                    margin-right: px(4);
                    font-weight: bold;
                    content: '©';
                }
            }

            .designer {
                margin-top: px(8);
                color: $tempColor11;
                font-size: px(18);
            }
        }

        .networks {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: px(562);
            margin-left: px(202);

            a {
                i {
                    width: px(60);
                }
            }

            .twitterIcon {
                order: 1;
            }

            .facebookIcon {
                order: 3;
            }

            .okIcon {
                order: 4;
            }

            .youtubeIcon {
                order: 5;
            }

            .vkIcon {
                order: 2;
            }

            .instagramIcon {
                order: 6;
            }
        }
    }
    // END additionalContent
}
