$componentRoot: 'components/About/Why/Assets/';

$color1: $paletteColor3; // $commonColor1
$color2: $paletteColor1; // $mainColor3
$color3: $paletteColor9; // $commonColor2
$color4: $paletteColor8; // $mainColor5
$color5: $paletteColor6; // $mainColor1
