& {
    position: absolute;
    z-index: 2;

    .top {
        display: flex;
        align-items: center;
        padding: px(22) px(74) 0;

        .worldwideChannel {
            display: flex;
            align-items: center;
            width: px(330);
            margin-right: px(176);
            color: $tempColor22;
            font-size: px(24);
            font-style: italic;
            transition: color .2s;

            i {
                width: px(36);
                margin-right: px(32);
            }

            &:hover {
                color: $mainColor1;
            }
        }

        .wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: px(1400);

            .subMenu {
                display: flex;
                align-items: center;
                margin-right: px(80);

                li {
                    margin-right: px(114);

                    &:hover {
                        a {
                            color: $mainColor1;
                        }
                    }

                    a {
                        transition: color .2s;
                        color: $tempColor22;
                        font-size: px(28);
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .social {
                display: flex;
                margin-right: px(130);

                a {
                    margin-right: px(32);

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .youTube {
                    width: px(38);
                }

                .fb {
                    width: px(14);
                }

                .vk {
                    width: px(44);
                }

                .twitter {
                    width: px(34);
                }

                .instagram {
                    width: px(28);
                }
            }

            .languages {

                a {
                    &:hover {
                        color: $mainColor1;
                    }
                }

                .language {
                    color: $tempColor22;
                    font-size: px(28);
                }

                .slash {
                    margin: 0 px(6);
                    font-size: px(26);
                }

                .active {
                    color: $tempColor23;
                }
            }
        }
    }

    .main {
        display: flex;
        align-items: center;
        margin-top: px(24);
        padding-top: px(30);
        padding-right: px(108);
        padding-left: px(108);

        .logo {
            width: px(284);
            margin-right: px(176);
        }

        .menu {
            display: flex;

            li {
                display: flex;
                align-items: center;
                margin-right: px(110);

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    a {
                        color: $mainColor3;
                    }
                }

                a {
                    transition: color .2s;
                    color: $mainColor1;
                    font-size: px(32);
                }

                i {
                    width: px(28);
                    margin-right: px(20);
                }
            }
        }
    }
}
