& {
    header {
        height: px(80);
        padding: 0 px(78);
        background-color: $color2;

        div {
            display: flex;
            justify-content: space-between;

            .world {
                display: flex;
                margin-top: px(24);
                transition: color $transitionDuration;
                color: $color7;
                font-size: px(24);
                font-style: italic;
                text-decoration: none;

                i {
                    width: px(34);
                    margin-right: px(24);
                    transition: color, border $transitionDuration;
                    border-bottom: 2px solid transparent;

                    svg {
                        path {
                            transition: fill $transitionDuration;
                            fill: $color7;
                        }
                    }
                }

                span {
                    margin-top: px(6);
                }

                &:hover {
                    color: $color6;

                    i {
                        border-bottom-color: $color10;

                        svg {
                            path {
                                fill: $color6;
                            }
                        }
                    }
                }
            }

            .sub {
                display: flex;
                flex-grow: 1;
                justify-content: space-between;
                margin-top: px(32);
                padding: 0 px(112) 0 px(172);

                li {
                    color: $color7;
                    font-size: px(26);

                    &:first-child {
                        position: relative;
                        top: px(-2);
                    }

                    a {
                        padding-bottom: px(16);
                        transition: color, border $transitionDuration;
                        border-bottom: 2px solid transparent;
                        color: $color7;
                        font-size: px(26);
                        text-decoration: none;

                        span {
                            transition: color $transitionDuration;
                            color: $color9;
                            text-decoration: none;
                        }

                        :first-child {
                            padding-left: px(2);
                            text-decoration: underline;
                        }

                        :last-child {
                            position: relative;
                            top: 0;
                            padding-right: px(10);
                            font-family: Arial, sans-serif;
                            font-size: px(26);
                        }

                        &:hover {
                            span {
                                color: $color10;
                            }
                        }
                    }

                    .selected {
                        color: $color10;
                    }

                    &:hover:not(:first-child) {
                        a {
                            border-bottom: 2px solid $color10;
                            color: $color6;
                        }

                        .selected {
                            border-color: transparent;
                            color: $color10;
                            cursor: default;
                        }
                    }
                }
            }

            .social {
                display: flex;
                justify-content: space-between;
                width: px(196);
                margin-top: px(26);

                li {
                    display: block;
                    height: px(54);

                    &:hover {
                        border-bottom: 2px solid $color10;
                        cursor: pointer;

                        a {
                            transform: rotateY(180deg);

                            i {
                                transform: rotateY(180deg);

                                svg {
                                    path {
                                        fill: $color6;
                                    }
                                }
                            }
                        }
                    }

                    a {
                        display: block;
                        height: px(32);
                        padding-bottom: px(24);
                        transition: transform .6s;
                        border-bottom: solid 2px transparent;
                    }

                    .youtube {
                        width: px(38);

                        i {
                            svg {
                                path {
                                    transition: fill .6s;
                                    fill: $color14;
                                }
                            }
                        }
                    }

                    .twitter {
                        width: px(34);
                        margin-left: px(2);

                        i {
                            svg {
                                path {
                                    transition: fill .6s;
                                    fill: $color14;
                                }
                            }
                        }
                    }

                    .vk {
                        width: px(44);

                        i {
                            svg {
                                path {
                                    transition: fill .6s;
                                    fill: $color14;
                                }
                            }
                        }
                    }

                    .fb {
                        width: px(14);

                        i {
                            svg {
                                path {
                                    transition: fill .6s;
                                    fill: $color14;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .wrap {

        padding: 0 px(118) 0 px(120);
        border-top: 1px solid $color12;
        background-color: $color1;

        div {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            height: px(126);

            .logo {
                padding-bottom: px(4);

                i {
                    width: px(284);

                    svg {
                        path {
                            fill: $color9;
                        }

                        rect {
                            fill: $color9;
                        }

                        polygon {
                            fill: $color9;
                        }
                    }
                }
            }

            .main {
                display: flex;
                flex-grow: 1;
                justify-content: space-between;
                padding: 0 px(164) px(34) px(160);

                li {
                    a {
                        padding-bottom: px(4);
                        transition: color, border $transitionDuration;
                        border-bottom: 2px solid transparent;
                        color: $color9;
                        font-family: 'PT Sans Narrow', Arial, sans-serif;
                        font-size: px(36);
                        text-decoration: none;
                    }

                    .selected {
                        color: $color10;
                    }

                    &:last-child {
                        a {
                            position: relative;
                            top: px(4);
                            margin-left: px(54);

                            i {
                                position: absolute;
                                top: px(6);
                                left: px(-42);
                                opacity: .6;

                                svg {
                                    width: px(28);
                                    height: px(28);

                                    path {
                                        fill: $color10;
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        a {
                            border-bottom: 2px solid $color10;
                            color: $color6;
                        }

                        .selected {
                            border-color: transparent;
                            color: $color10;
                            cursor: default;
                        }
                    }
                }
            }

            .languages {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: px(104);
                height: px(90);

                i {
                    width: px(26);

                    svg {
                        path {
                            fill: $color9;
                        }
                    }
                }

                .topArrow {
                    margin-right: px(12);
                    margin-bottom: px(14);
                    opacity: .6;
                }

                .bottomArrow {
                    margin: 0 0 px(2) px(26);
                    transform: rotate(180deg);
                    opacity: .6;
                }

                .ru {
                    display: block;
                    width: px(54);
                    height: px(54);
                    margin-bottom: px(-14);

                    i {
                        width: 100%;

                        svg {
                            border: px(6) solid $color9;
                            border-radius: 50%;

                            :global(.white) {
                                fill: $color6;
                            }

                            :global(.blue) {
                                fill: $color5;
                            }

                            :global(.red) {
                                fill: $color15;
                            }
                        }
                    }
                }

                .ua {
                    display: block;
                    width: px(40);
                    height: px(40);
                    margin: px(-4) 0 px(14);

                    i {
                        width: 100%;

                        svg {
                            border: px(6) solid $color3;
                            border-radius: 50%;

                            :global(.blue) {
                                fill: $color5;
                            }

                            :global(.yellow) {
                                fill: $color10;
                            }
                        }
                    }
                }
            }
        }
    }
}
