$componentRoot: 'components/Shared/Header/Assets/';

$transitionDuration: .2s;

$color1: $paletteColor14;
$color2: $paletteColor16;
$color3: $paletteColor18;
$color4: $paletteColor17;
$color5: $paletteColor2;
$color6: $paletteColor6;
$color7: $paletteColor28;
$color8: $paletteColor20;
$color9: $paletteColor27;
$color10: $paletteColor1;
$color11: $paletteColor9;
$color12: $paletteColor17;
$color13: $paletteColor29;
