& {
    display: flex;
    position: relative;
    width: 100%;
    height: px(1046);

    &::before {
        position: absolute;
        width: 100%;
        height: px(806);
        background-image: url('../../../Assets/gradient.png');
        background-repeat: repeat-x;
        background-size: px(40) px(808);
        content: '';
    }

    .image {
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    // TODO перенести под image
    .loader {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: px(6);
        background: $tempColor14;

        .progress {
            width: 100%;
            height: 100%;
            transform: translateX(-100%);
        }
    }

    .dots {
        display: flex;
        position: absolute;
        bottom: px(30);
        left: 0;
        align-items: center;
        justify-content: center;
        width: 100%;

        .item {
            width: px(20);
            height: px(20);
            margin-right: px(20);
            transform: scale(.8);
            border: 1px solid $mainColor1;
            border-radius: 50%;
            cursor: pointer;
            opacity: .7;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background: $mainColor1;
            }
        }

        .active {
            transform: scale(1);
            border: 0;
            background: $mainColor3;
            opacity: 1;

            &:hover {
                background: $mainColor3;
            }
        }
    }

    .wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: px(556);

        .content {
            position: relative;

            .controls {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: px(106);

                .arrowLeft {
                    width: px(160);
                    transform: rotate(180deg) scale(.85);
                    cursor: pointer;
                }

                .play {
                    width: px(160);
                    cursor: pointer;
                }

                .arrowRight {
                    width: px(160);
                    transform: scale(.85);
                    cursor: pointer;
                }
            }

            .text {
                display: flex;
                position: absolute;
                top: px(-114);
                left: px(180);
                flex-direction: column;

                .time {
                    color: $mainColor1;
                    font-size: px(80);
                    font-weight: bold;
                }

                .dayOfWeek {
                    width: max-content;
                    margin-top: px(6);
                    padding: px(16);
                    border-radius: 2px;
                    background: $tempColor16;
                    color: $mainColor1;
                    font-size: px(26);
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .title {
                    width: px(340);
                    margin-top: px(76);
                    color: $mainColor1;
                    font-size: px(36);
                    line-height: px(38);
                }

                .subtitle {
                    margin-top: px(24);
                    color: $tempColor15;
                    font-size: px(28);
                    line-height: px(32);
                }
            }
        }
    }
}
