& {
    width: 100%;
    border-top: solid 2px $commonColor4;
    background-color: $mainColor1;
    outline: px(52) solid $mainColor1;
    margin-top: px(52);

    .mainContent {
        display: flex;
        position: relative;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        padding: px(74) px(80) 0;

        section {
            h1 {
                margin-bottom: px(32);
                color: $commonColor1;
                font-size: px(32);
            }

            ul {
                li {
                    padding-bottom: px(16);
                }
            }

            a {
                transition: color .2s;
                color: $commonColor1;
                font-size: px(26);
                text-decoration: none;

                &:hover {
                    color: $mainColor4;
                }
            }

            div {
                display: flex;
                justify-content: space-between;
            }
        }

        .menu {
            margin-left: px(82);
        }

        .information {
            margin-left: px(4);
        }

        .networks {
            margin-right: px(48);
            margin-left: px(98);

            h1 {
                margin-bottom: px(38);
            }

            i {
                width: px(50);
            }

            div {
                display: flex;

                a {
                    margin-right: px(32);
                }
            }
        }
        // END networks

        .phoneNumber {
            position: absolute;
            top: px(280);
            right: px(882);

            h1 {
                margin-bottom: px(12);
            }

            span {
                font-size: px(26);
            }
        }

        .rights {
            position: absolute;
            top: px(260);
            right: px(168);

            h1 {
                margin-bottom: px(38);
            }

            span {
                display: block;
                font-size: px(26);

                &::after {
                    position: relative;
                    left: px(10);
                    font-family: Arial, sans-serif;
                    content: '→';
                }
            }
        }

        footer {
            display: flex;
            justify-content: space-between;
            width: 100vw;
            margin-top: px(78);
            margin-bottom: px(56);

            .container {
                position: relative;
                margin-left: px(36);

                &::before {
                    display: block;
                    position: absolute;
                    top: px(6);
                    left: px(-36);
                    color: $tempColor5;
                    font-size: px(26);
                    content: '©';
                }

                .copyright {
                    margin-top: px(6);
                    margin-bottom: px(-2);
                    font-size: px(26);

                    span {
                        padding: 0 px(6) 0 0;
                        color: $commonColor1;
                        font-size: px(26);
                        font-weight: bold;
                    }
                }

                .designer {
                    margin-top: px(8);
                    color: $tempColor11;
                    font-size: px(22);
                }
            }

            i {
                width: px(80);

                path {
                    fill: $commonColor7;
                }
            }
        }
        // END footer
    }
}
