& {
    width: 100%;

    .mainContent {
        display: flex;
        position: relative;
        padding: px(70) px(46) 0 px(40);
        background-color: $commonColor4;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row wrap;
    }

    .additionalContent {
        display: flex;
        position: relative;
        padding: px(58) px(80) px(62) px(58);
        background-color: $mainColor1;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row wrap;
    }

    section {
        h1 {
            margin-bottom: px(28);
            color: $commonColor1;
            font-size: px(30);
        }

        ul {
            li {
                padding-bottom: px(16);
            }
        }

        a {
            transition: color .2s;
            color: $commonColor1;
            font-size: px(24.5);
            text-decoration: none;

            &:active {
                color: $mainColor4;
            }
        }

        div {
            display: flex;
            justify-content: space-between;
        }
    }

    .menu {
        margin-left: px(18);
    }

    .information {
        h1 {
            margin-bottom: px(26);
        }

        ul {
            li {
                padding-bottom: px(14);
            }
        }
    }

    .connection {
        margin-right: px(38);
        font-stretch: semi-condensed;
        //h1 {
        //    width: px(240);
        //}

        //ul {
        //    width: px(239);
        //    margin-right: px(-1);
        //}
    }

    .networks {
        width: 100%;
        margin-top: px(38);
        margin-bottom: px(44);

        i {
            width: px(60);
        }

        div {
            display: flex;

            .twitterIcon {
                order: 3;

                i {
                    path {
                        fill: $tempColor12;
                    }
                }
            }

            .facebookIcon {
                order: 5;

                i {
                    path {
                        fill: $tempColor6;
                    }
                }
            }

            .okIcon {
                order: 6;

                i {
                    path {
                        fill: $tempColor7;
                    }
                }
            }

            .youtubeIcon {
                order: 1;

                i {
                    path,
                    polygon {
                        fill: $tempColor8;
                    }
                }
            }

            .vkIcon {
                order: 4;

                i {
                    path {
                        fill: $tempColor9;
                    }
                }
            }

            .instagramIcon {
                order: 2;

                i {
                    path {
                        fill: $tempColor10;
                    }
                }
            }
        }
    }
    // END networks

    .phoneNumber {
        position: absolute;
        top: px(282);
        left: px(318);

        h1 {
            margin-bottom: px(8);
        }

        span {
            font-size: px(24);
        }
    }

    .rights {
        width: px(242);

        h1 {
            margin-bottom: px(34);
        }

        span {
            display: block;
            font-size: px(26);

            &::after {
                position: relative;
                top: px(2);
                left: px(6);
                font-family: Arial, sans-serif;
                content: '→';
            }
        }
    }

    footer {
        position: absolute;
        top: px(209);
        left: px(320);
        width: px(254);

        .container {

            .copyright {
                font-size: px(20);
                line-height: px(24);

                &::before {
                    font-weight: bold;
                    content: '© ';
                }
            }

            .designer {
                margin-top: px(9);
                color: $tempColor11;
                font-size: px(18);
            }
        }
    }
}
