@import './desktop';

& {
    .mainContent {
        padding: px(68) 0 0 px(48);

        section {
            h1 {
                margin-bottom: px(30);
                font-size: px(30);
            }

            ul {
                li {
                    padding-bottom: px(12);
                }
            }

            a {
                font-size: px(24);
            }
        }

        .menu {
            margin-left: px(52);
        }

        .information {
            margin-left: px(108);
        }

        .connection {
            margin-left: px(108);
        }

        .networks {
            margin-left: px(102); // PixelPerfect requires 116, but Navigation.networks overlaps scroll bar in Safari

            h1 {
                margin-bottom: px(32);
            }

            div {
                display: flex;

                a {
                    margin-right: px(30);

                    i {
                        width: px(50);
                    }
                }

                .twitterIcon {
                    order: 1;
                }

                .facebookIcon {
                    order: 3;
                }

                .okIcon {
                    order: 4;
                }

                .youtubeIcon {
                    order: 5;
                }

                .vkIcon {
                    order: 2;

                    i {
                        width: px(50);
                    }
                }

                .instagramIcon {
                    order: 6;
                }
            }
        }

        .phoneNumber {
            margin-top: px(-78);
            margin-left: px(638);

            h1 {
                margin-bottom: px(4);
            }

            span {
                font-size: px(24);
            }
        }

        .rights {
            margin-top: px(-102);
            margin-left: px(102); // like a .networks

            h1 {
                margin-bottom: px(32);
            }
        }

        footer {
            margin-top: px(90);

            .container {

                .copyright {
                    font-size: px(24);
                }
            }

            i {
                margin-right: px(50);
            }
        }
    }
}
