& {
    position: absolute;
    top: px(202);
    width: 100%;
    margin-top: px(-14);
    overflow: hidden;
    z-index: 2;

    .scheduler {
        .clock {
            display: flex;
            position: absolute;
            left: px(470);
            justify-content: center;
            width: px(72);
            height: px(38);
            border-radius: 4px;
            background-color: $mainColor5;

            span {
                display: block;
                position: relative;
                color: $mainColor1;
                font-size: px(22);
                line-height: px(38);

                &::after {
                    display: block;
                    position: absolute;
                    top: px(44);
                    left: px(26);
                    width: px(4);
                    height: px(19);
                    background-color: $mainColor5;
                    content: '';
                }
            }
        }

        .episodes {
            display: flex;
            width: 10000px;
            height: 100%;
            padding: px(50) 0 px(20);
            transition: transform .6s;

            .episode {
                margin-right: px(30);

                .timeline {
                    display: flex;
                    width: 100%;

                    .prev {
                        flex-grow: 0;
                        flex-shrink: 0;
                        height: px(6);
                        border-radius: 2px;
                        background-color: $tempColor18;
                    }

                    .next {
                        height: px(6);
                        border-radius: 2px;
                        background-color: $mainColor4;
                    }
                }

                .info {
                    margin: px(14) 0 0 px(4);

                    .time {
                        transition: color .2s;
                        color: $tempColor17;
                        font-size: px(26);
                        font-weight: 700;
                    }

                    .label {
                        margin-left: px(14);
                        color: $mainColor5;
                        font-size: px(28);
                        font-weight: 700;
                    }
                }

                .title {
                    margin: px(10) 0 0 px(4);
                    transition: color .2s;
                    font-size: px(28);
                    font-style: italic;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                &:hover {
                    //cursor: pointer;

                    .info {
                        .time {
                            color: $mainColor1;
                        }
                    }

                    .title {
                        color: $tempColor17;
                    }
                }
            }

            .past {
                .timeline {
                    .prev {
                        width: 100%;
                    }
                }
            }

            .future {
                .timeline {
                    .next {
                        width: 100%;
                    }
                }
            }

            .current {
                .timeline {
                    .prev {
                        margin-right: px(12);
                        transition: width .6s;
                        border-radius: 2px 0 0 2px;
                    }

                    .next {
                        transition: width .6s;
                        border-radius: 0 2px 2px 0;
                    }
                }
            }
        }
    }
}
