@import './desktopCommon';

& {
    .title {
        margin-top: px(60);
        font-size: px(42);
    }

    .list {
        margin-top: px(66);

        .item {
            margin-bottom: px(80);

            .image {
                width: px(472);
                height: px(256);
                margin-right: px(48);

                .time {
                    width: px(80);
                    height: px(40);
                    margin: 0 px(16) px(16) 0;
                    padding-top: 2px;
                    font-size: px(26);
                    font-weight: normal;
                }
            }

            .info {
                padding-top: px(8);

                .theme {
                    width: px(820);
                    max-height: px(84);
                    font-size: px(38);
                    font-weight: normal;
                    line-height: px(42);
                }

                .date {
                    margin-top: px(20);
                    font-size: px(26);
                }

                .description {
                    width: px(820);
                    max-height: px(100);
                    margin-top: px(18);
                    font-size: px(28);
                    line-height: px(34);
                }
            }
        }
    }
}
