@import '../mobile';

& {
    .large {
        width: px(1016);

        .main {
            flex-direction: row;
            margin-top: px(52);

            .container {
                height: px(302);

                .info {
                    padding: px(32) px(40) 0;

                    .date {
                        .bubble {
                            margin-right: px(18);
                        }
                    }

                    .titleLink {
                        height: px(74);
                        margin-top: px(56);
                        -webkit-line-clamp: 2;
                    }

                    .link {
                        margin-top: px(20);
                    }
                }
            }
        }
    }
}
