@import 'common';

& {
    .wrapVideo {
        width: px(1056);
        margin: 0 auto;
        background-color: $mainColor2;
    }

    .info {
        .bar {
            margin-top: px(42);

            .timeLineContainer {
                width: px(888);
            }
        }
    }
}
