& {
    background: $mainColor6;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: px(188);
        padding: 0 px(50);

        .logo {
            width: px(288);
            margin-right: px(122);
        }

        .hamburger {
            width: px(50);
        }

        .menu {
            display: flex;
            margin-right: px(110);

            li {
                display: flex;
                position: relative;
                align-items: center;
                margin-right: px(102);

                .liveIcon {
                    position: absolute;
                    left: px(-40);
                    width: px(24);
                    opacity: .7;
                }

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: $tempColor21;
                    font-family: PTSans-Narrow;
                    font-size: px(44);
                }
            }
        }
    }

    .popup {
        display: flex;
        justify-content: center;
        padding-bottom: px(50);

        .content {
            width: px(1336);
            border-top: 1px solid $tempColor20;

            .menu {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: px(46);

                li {
                    a {
                        color: $tempColor25;
                        font-size: px(34);
                    }
                }
            }

            .footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: px(66);

                .social {
                    display: flex;

                    a {
                        margin-right: px(40);

                        i {
                            width: px(60);

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                    // TODO перенести цвета в js
                    .twitter {
                        i {
                            path {
                                fill: $tempColor12;
                            }
                        }
                    }

                    .facebook {
                        i {
                            path {
                                fill: $tempColor6;
                            }
                        }
                    }

                    .ok {
                        i {
                            path {
                                fill: $tempColor7;
                            }
                        }
                    }

                    .youtube {
                        i {
                            path,
                            polygon {
                                fill: $tempColor8;
                            }
                        }
                    }

                    .vk {
                        i {
                            path {
                                fill: $tempColor9;
                            }
                        }
                    }

                    .instagram {
                        i {
                            path {
                                fill: $tempColor10;
                            }
                        }
                    }
                }

                .languages {
                    .choose {
                        margin-right: px(30);
                        color: $tempColor19;
                        font-size: px(30);
                        font-style: italic;
                    }

                    .language {
                        margin-right: px(50);
                        padding: px(14) px(18);
                        color: $tempColor21;
                        font-size: px(30);
                        opacity: .6;

                        &:last-child {
                            margin-right: 0;
                        }
                    }

                    .active {
                        border-radius: px(12);
                        background: $mainColor4;
                        color: $mainColor1;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
