@import '../mobile';

@media #{$phoneLandscape} {
    $scaleFactor: .08803;

    @import '../mobile';

    .cover {
        flex-direction: column;

        .episodeItem {
            flex-direction: row;
            width: px(1016);

            .image {
                width: px(708);
            }

            .info {
                height: px(302);
                padding-top: px(32);
                padding-left: px(34);

                p {
                    margin-left: px(4);
                }

                h1 {
                    margin-top: px(36);
                }

                a {
                    &::after {
                        margin-left: px(12);
                    }
                }
            }
        }
    }
}
