& {
    background-color: $color1;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: px(190);
        padding: 0 px(50);

        .logo {
            i {
                svg {
                    width: px(288);
                    height: px(90);

                    path {
                        fill: $color9;
                    }

                    rect {
                        fill: $color9;
                    }

                    polygon {
                        fill: $color9;
                    }

                }

            }
        }

        .main {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            padding: 0 px(108) px(8) px(136);

            li {
                a {
                    display: block;
                    transition: color $transitionDuration;
                    color: $color9;
                    font-family: 'PT Sans Narrow', Arial, sans-serif;
                    font-size: px(44);
                    text-decoration: none;
                }

                &:first-child {
                    a {
                        margin-right: px(12);
                    }
                }

                &:last-child {
                    a {
                        position: relative;
                        top: px(2);
                        margin-left: px(28);

                        i {
                            position: absolute;
                            top: px(12);
                            left: px(-36);
                            opacity: .6;

                            svg {
                                width: px(24);
                                height: px(24);

                                path {
                                    fill: $color10;
                                }
                            }
                        }
                    }
                }

                &:active {
                    a {
                        color: $color10;
                    }
                }
            }
        }

        .menu {
            i {
                width: px(50);

                svg {
                    path {
                        fill: $color9;
                    }
                }
            }
        }

        .close {
            i {
                width: px(50);

                svg {
                    path {
                        fill: $color9;
                    }
                }
            }
        }
    }

    .wrap {
        display: flex;
        flex-wrap: wrap;
        padding: 0 px(100);

        .sub {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-top: px(42);
            border-top: 1px solid $color4;

            li {
                a {
                    transition: color $transitionDuration;
                    color: $color11;
                    font-size: px(34);
                    text-decoration: none;

                    &:active {
                        color: $color10;
                    }
                }
            }
        }

        .social {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            margin-top: px(68);
            padding: 0 px(106) px(54) 0;

            a {
                i {
                    width: px(60);
                }
            }

            .youtube {
                i {
                    svg {
                        path {
                            fill: $color16;
                        }

                        polygon {
                            fill: $color16;
                        }
                    }
                }
            }

            .instagram {
                i {
                    svg {
                        path {
                            fill: $color17;
                        }
                    }
                }
            }

            .twitter {
                i {
                    svg {
                        path {
                            fill: $color18;
                        }
                    }
                }
            }

            .vk {
                i {
                    svg {
                        path {
                            fill: $color19;
                        }
                    }
                }
            }

            .fb {
                i {
                    svg {
                        path {
                            fill: $color20;
                        }
                    }
                }
            }

            .ok {
                i {
                    svg {
                        path {
                            fill: $color21;
                        }
                    }
                }
            }
        }

        .languages {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            margin-top: px(16);
            padding-left: px(100);

            span {
                color: $color13;
                font-size: px(30);
                font-style: italic;
            }

            a {
                display: block;
                padding: px(14) px(18) px(16);
                transition: color, background-color $transitionDuration;
                border-radius: 6px;
                color: $color7;
                font-size: px(30);
                text-decoration: none;

                &:active {
                    background-color: $color5;
                    color: $color6;
                }
            }

            .ru {
                margin-left: px(18);
            }
        }
    }
}
