@import 'common';

& {
    .head {
        padding: 0 px(60);
    }

    .popup {
        .lists {
            .menu1 {
                li {
                    padding: 0 0 0 px(57);

                    &:last-child {
                        a {
                            border: 0;
                        }
                    }
                }
            }

            .menu2 {
                flex-direction: row;
                justify-content: space-between;
                padding: 0 px(78);
                border-top: 1px solid $tempColor24;

                li {
                    flex-grow: 1;
                    width: auto;
                    padding: 0;
                    border-bottom: 1px solid $tempColor24;

                    a {
                        display: flex;
                        justify-content: center;
                        padding: 0;
                        border: 0;
                    }
                }

                .active {
                    border-bottom: 2px solid $mainColor4;

                    &::before {
                        top: auto;
                        bottom: -2px;
                        left: -3px;
                        width: 6px;
                        height: 4px;
                        background: $commonColor10;
                    }

                    &::after {
                        display: block;
                        position: absolute;
                        right: -3px;
                        bottom: -2px;
                        width: 6px;
                        height: 4px;
                        background: $commonColor10;
                        content: '';
                    }
                }
            }
        }

        .footer {
            border-top: 0;

            .social {
                position: relative;
                margin: 0 px(140);
                border-bottom: 1px solid $tempColor24;

            }

            .languages {
                height: px(130);
                padding: 0 px(284);
                border-top: 0;
            }
        }
    }
}
