& {
    .title {
        margin-top: px(92);
        margin-left: px(22);
        color: $commonColor1;
        font-size: px(38);
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .image {
            width: px(592);
            height: px(336);
            margin-top: px(46);
            background-image: url('../../../Assets/banner.jpg');
            background-size: cover;
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: px(560);

            .showName {
                margin-top: px(44);
                color: $tempColor32;
                font-size: px(42);
                font-weight: normal;
            }

            .description {
                margin-top: px(26);
                color: $tempColor32;
                font-family: Georgia;
                font-size: px(30);
                line-height: px(40);
            }
        }
    }
}
