@import 'common';

& {
    .title {
        margin-top: px(78);
        font-size: px(38);
    }

    .content {
        .image {
            width: px(1088);
            height: px(362);
            margin-top: px(42);
            background-position: center;
        }

        .text {
            width: px(1056);

            .showName {
                margin-top: px(44);
            }

            .description {
                margin-top: px(24);
            }
        }
    }
}
