@import 'common';

& {
    .item {
        .timeBlock {
            width: px(174);
            padding-left: px(42);
        }

        .titles {
            .title {
                width: px(820);
            }

            .subtitle {
                width: px(820);
            }
        }
    }
}
