@import 'common';

& {
    .header {
        padding-top: px(62);
        padding-left: px(98);
    }

    .slider {
        .arrowLeft {
            width: px(98);
            height: px(510);

            .arrow {
                margin-right: px(4);
            }
        }

        .arrowRight {
            width: px(98);
            height: px(510);

            .arrow {
                margin-left: px(4);
            }
        }

        .wrap {
            .list {
                width: px(1340);

                .item {
                    width: px(420);
                }
            }
        }
    }
}
