& {
    display: flex;
    flex-direction: column;

    .header {
        width: 100vw;
        padding-top: px(86);
        padding-left: px(108);
        padding-bottom: px(54);

        h1 {
            font-size: px(48);
            font-weight: 100;
            color: #606b6d;
        }
    }

    .slider {
        display: flex;

        .arrowLeft {
            display: flex;
            justify-content: center;
            align-items: center;
            width: px(108);
            height: px(520);
            cursor: pointer;

            &::after {
                display: block;
                width: px(26);
                height: px(50);
                margin-right: px(30);
                background: url($componentRoot + 'arrow-bg.svg') no-repeat;
                transform: rotate(180deg);
                content: "";
            }
        }

        .arrowRight {
            display: flex;
            justify-content: center;
            align-items: center;
            width: px(108);
            height: px(520);
            cursor: pointer;

            &::after {
                display: block;
                width: px(26);
                height: px(50);
                margin-left: px(26);
                background: url($componentRoot + 'arrow-bg.svg') no-repeat;
                content: "";
            }
        }

        .wrap {
            display: flex;
            position: relative;

            .list {
                display: flex;
                width: px(1832);
                background-size: px(40);
                transition: all .3s cubic-bezier(.15,.46,.61,1);

                .large {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    justify-content: flex-end;
                    width: px(896);
                    height: px(520);
                    margin-right: px(40);
                    padding-left: px(38);
                    padding-bottom: px(24);
                    background-size: cover;
                    border-radius: px(6);
                    overflow: hidden;

                    &:hover {
                        .goTo {
                            opacity: 1;
                        }
                    }

                    .goTo {
                        width: px(100);
                        height: px(100);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-top: px(-50);
                        margin-left: px(-50);
                        background: url($componentRoot + 'goToIcon-bg.svg') no-repeat;
                        opacity: 0;
                        transition: all .3s;
                        cursor: pointer;

                        &:hover {
                            background: url($componentRoot + 'goToIconHover-bg.svg') no-repeat;
                        }
                    }

                    &::after {
                        width: 100%;
                        height: px(150);
                        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 32%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 32%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 32%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 0;
                        content: '';
                    }

                    h3 {
                        font-size: px(44);
                        color: #fff;
                        z-index: 1;
                    }

                    h4 {
                        margin-top: px(2);
                        font-size: px(30);
                        font-weight: 100;
                        color: #e6e7e8;
                        z-index: 1;
                    }
                }

                .row {
                    height: px(520);
                    column-width: px(428);
                    column-gap: px(40);

                    .small {
                        display: flex;
                        position: relative;
                        align-items: flex-end;
                        width: px(428);
                        height: px(238);
                        margin-bottom: px(42);
                        background-size: cover;
                        border-radius: px(6);
                        overflow: hidden;

                        &:hover {
                            .goTo {
                                opacity: 1;
                            }
                        }

                        .goTo {
                            width: px(50);
                            height: px(51);
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-top: px(-25);
                            margin-left: px(-25);
                            background: url($componentRoot + 'goToIcon-bg.svg') no-repeat;
                            opacity: 0;
                            transition: all .3s;
                            cursor: pointer;

                            &:hover {
                                background: url($componentRoot + 'goToIconHover-bg.svg') no-repeat;
                            }
                        }

                        &::after {
                            width: 100%;
                            height: px(100);
                            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 32%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 32%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 32%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            z-index: 0;
                            content: '';
                        }

                        &:nth-last-child(1) {
                            margin-bottom: 0;
                        }

                        h3 {
                            margin-left: px(20);
                            margin-bottom: px(20);
                            font-size: px(28);
                            color: #fff;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}