& {
    padding-top: px(46);
    padding-left: px(60);

    .title {
        margin-top: px(0);
        font-size: px(44);
        color: #516569;
        font-weight: 100;
    }

    .cover {
        display: flex;
        overflow: hidden;

        .episodeItem {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: px(520);
            margin-top: px(52);
            margin-right: px(26);
            border-radius: px(12);
            overflow: hidden;

            .image {
                width: 100%;
                height: px(300);
                background-size: cover;
                background-image: url(http://img12.nnm.me/1/7/3/d/0/cdf69a00df6b878dff7af5d60aa.jpg);
            }

            .info {
                height: px(330);
                padding-top: px(36);
                padding-left: px(47);
                padding-right: px(47);
                background-color: #fff;

                p {
                    display: flex;
                    align-items: flex-end;
                    font-size: px(26);
                    color: #6e7b7d;

                    &::before {
                        display: block;
                        width: px(48);
                        height: px(48);
                        margin-right: px(18);
                        background: url($componentRoot + 'videoIcon-bg.svg') no-repeat;
                        content: "";
                    }
                }

                h1 {
                    margin-top: px(42);
                    margin-left: px(2);
                    font-size: px(36);
                    line-height: px(38);
                    color: #606b6d;
                }

                a {
                    display: flex;
                    align-items: center;
                    margin-top: px(34);
                    margin-left: px(2);
                    font-size: px(30);
                    text-decoration: none;
                    color: #2793b2;

                    &::after {
                        display: block;
                        width: px(18);
                        height: px(18);
                        margin-right: px(18);
                        margin-left: px(8);
                        background: url($componentRoot + 'arrow-bg.svg') no-repeat;
                        content: "";
                    }
                }
            }
        }
    }
}
