& {
    padding: px(24) px(24) px(36);
    background-color: $tempColor35;

    .wrapVideo {
        display: flex;
        justify-content: center;
        margin: 0 px(12);
        border-radius: px(2);
        overflow: hidden;

        .video {
            width: px(592);
            height: px(320);
        }
    }

    .languages {
        display: flex;
        margin-top: px(16);
        border-radius: px(6);
        overflow: hidden;

        .list {
            width: px(494);
            height: px(96);
            margin-right: 1px;

            .item {
                display: flex;
                align-items: center;
                height: px(96);
                padding-left: px(32);
                background-color: $tempColor40;
                color: $mainColor1;
                font-family: 'Exo 2';
                font-size: px(30);
                font-style: italic;

                .flag {
                    width: px(48);
                    margin-right: px(32);
                }

                .signs {
                    width: px(32);
                    margin-right: px(40);
                    margin-left: px(8);
                }

                .language {
                    margin-top: px(-8);
                }

                &:last-child {
                    border-radius: 0 0 px(6);
                }
            }
        }

        .arrowButton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: px(96);
            height: px(96);
            border-radius: 0 0 px(6);
            background-color: $tempColor40;

            .arrow {
                width: px(10);
                transform: rotate(90deg);
            }
        }

        &.opened {
            .list {
                height: auto;

                .item {
                    width: px(600);
                    border-top: 1px solid $tempColor35;

                    &:first-of-type {
                        width: px(494);
                        background-color: $tempColor44;
                        border: 0;
                    }
                }
            }

            .arrowButton {
                transform: rotate(180deg);
                border-radius: 0;
            }
        }
    }

    .info {
        padding-left: px(12);

        .event {
            .title {
                margin-top: px(28);
                color: $mainColor1;
                font-family: 'Exo 2';
                font-size: px(42);
                font-weight: normal;
                line-height: px(50);
            }

            .subtitle {
                margin-top: px(12);
                margin-left: px(4);
                color: $tempColor36;
                font-family: 'Exo 2';
                font-size: px(26);
                font-weight: normal;
            }

            .bar {
                display: flex;
                margin-top: px(40);

                .startTime {
                    color: $mainColor1;
                    font-family: 'Exo 2';
                    font-size: px(30);
                }

                .endTime {
                    color: $tempColor36;
                    font-family: 'Exo 2';
                    font-size: px(30);
                }

                .timeLineContainer {
                    display: flex;
                    align-items: center;
                    width: px(408);
                    margin: 0 px(16);

                    .scale {
                        width: 100%;
                        height: px(4);
                        background-color: $tempColor36;

                        .progress {
                            display: flex;
                            position: relative;
                            align-items: center;
                            height: 100%;
                            background-color: $commonColor2;

                            span {
                                display: flex;
                                position: absolute;
                                right: 0;
                                align-items: center;
                                justify-content: space-between;
                                width: px(4);
                                height: px(16);
                                border-radius: px(2);
                                background-color: $tempColor36;

                                &::before {
                                    display: block;
                                    width: px(4);
                                    height: px(16);
                                    margin-left: px(-4);
                                    background-color: $tempColor35;
                                    content: '';
                                }

                                &::after {
                                    display: block;
                                    width: px(4);
                                    height: px(16);
                                    margin-right: px(-4);
                                    background-color: $tempColor35;
                                    content: '';
                                }
                            }
                        }
                    }
                }
            }
        }

        .schedule {
            margin-top: px(28);

            h1 {
                margin-bottom: px(18);
                color: $mainColor1;
                font-family: 'Exo 2';
                font-size: px(42);
                font-weight: normal;
                line-height: px(50);
            }

            .item {
                display: grid;
                align-items: center;
                justify-content: flex-start;
                height: px(44);
                grid-template-columns: px(70) px(20) px(70) px(420);

                .time {
                    font-size: px(26);
                    color: $tempColor36;
                }

                .title {
                    margin-left: px(20);
                    color: $mainColor1;
                    font-size: px(24);
                }
            }
        }

        .description {
            margin-top: px(38);
            margin-left: px(4);
            color: $tempColor41;
            font-family: 'Exo 2';
            font-size: px(30);
            line-height: px(40);
        }
    }
}
