@import 'common';

& {
    .wrapVideo {
        width: px(1056);
        margin: 0 auto;
        background-color: $mainColor2;
    }

    .languages {
        width: px(1056);
        margin: px(16) auto;

        .list {
            width: px(958);
        }

        &.opened {
            .list {
                .item {
                    width: px(1060);

                    &:first-of-type {
                        width: px(958);
                    }
                }
            }
        }
    }

    .info {
        padding-left: px(8);

        .event {
            .bar {
                margin-top: px(42);

                .timeLineContainer {
                    width: px(888);
                }
            }
        }
    }
}
