$componentRoot: 'theme/components/Live/';

$color1: $mainColor6;
$color2: $mainColor4;
$color3: $mainColor1;
$color4: $mainColor5;
$color5: #e8e9e9;
$color6: $commonColor1;
$color7: #6e7b7d;
$color8: #909799;
$color9: #b7bdbf;
