@import '../mobile';

& {
    .wrap {
        width: px(2224);

        >div {
            width: px(550);
            height: px(290);

            >div {
                padding-top: px(93);

                .android {
                    margin: px(2) px(40) 0 px(120);

                    svg {
                        width: px(91);
                        height: px(104);
                    }
                }

                .volonteers {
                    margin-left: px(96);

                    svg {
                        width: px(104);
                        height: px(106);
                    }
                }

                .apple {
                    margin-left: px(120);

                    svg {
                        width: px(90);
                        height: px(104);
                    }
                }

                .donate {
                    margin-left: px(110);

                    svg {
                        width: px(104);
                        height: px(106);
                    }
                }

                .text {
                    .row1 {
                        font-size: px(32);
                    }

                    .row2 {
                        margin-top: px(14);
                        padding-left: px(4);
                        font-size: px(32);
                    }

                    .row3 {
                        margin-top: px(-2);
                        padding-left: px(2);
                        font-size: px(44);
                    }
                }
            }
        }
    }
}
