& {
    padding-top: px(44);

    .title {
        padding: 0 px(24);
        color: $tempColor32;
        font-family: 'Exo 2';
        font-size: px(42);
        line-height: px(48);
    }

    .date {
        display: inline-block;
        margin: px(40) 0 0 px(24);
        color: $tempColor39;
        font-family: 'Exo 2';
        font-size: px(26);
    }

    .textContainer {
        margin-top: px(36);
        padding: 0 px(20) 0 px(16);

        .initialLetter {
            margin-top: px(-6);
            margin-right: px(12);
            float: left;
            color: $tempColor32;
            font-family: 'Exo 2';
            font-size: px(86);
        }

        .paragraph {
            margin-top: 0;
            padding: 0 px(24);
            color: $tempColor32;
            font-family: 'Exo 2';
            font-size: px(30);
            line-height: px(40);
        }
    }

    .image {
        width: px(592);
        height: px(328);
        margin: px(60) auto 0;
        background-size: cover;
    }

    p {
        margin-top: px(50);
        padding: 0 px(40);
        color: $tempColor32;
        font-family: 'Exo 2';
        font-size: px(30);
        line-height: px(40);

        a {
            color: $tempColor34;
            font-weight: bold;
        }
    }
}
