$componentRoot: 'theme/components/episodes/';

$color1: $paletteColor7;
$color2: $paletteColor6;
$color3: $paletteColor1;
$color4: $paletteColor3;
$color5: $paletteColor29;
$color6: $paletteColor30;
// $color7: #516569;
// $color8: #6e7b7d;
$color9: $paletteColor2;
$color10: $paletteColor9;
// scss-lint:disable ColorVariable
$gradient1: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .21) 32%, rgba(0, 0, 0, .65) 100%);
// scss-lint:enable ColorVariable



